{% extends 'config.html' %}

{% block title %}Добавить задачу{% endblock %}

{% block content %}
    <div class="button">
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'main' %}">На главную</a>
    </div>
    <div class="alert alert-warning">
    {% if error == True %}
    <p class="text-danger">Вы не заполнили таблицу</p>
    {% endif %}
    <form action="/task/add/" method="post">
        {% csrf_token %}
        <label>Заголовок:</label><br />
        <input type="text" name="title" value="{{ title }}"/><br />
        <label>Текст:</label><br />
        <textarea name="content">{{ content }}</textarea><br />
        <label>Статус:</label><br />
        <br>
        <select name="status">
            {% for value, status in statuses %}
            <option value="{{ value }}">{{ status }}</option>
            {{ status }}
            {% endfor %}
        </select>
        <br>
        <label>Дата выполнения:</label><br />
        <input type="date" name="date_of_completion"/><br />
        <br />
        <input class="btn btn-warning" type="submit" value="Отправить"/>
    </form>
    </div>
{% endblock %}
