{% extends 'base.html' %}

{% block title %}Список задач{% endblock %}

{% block content %}
    <div class="button">
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'create_task' %}">Записать задачу</a>
    </div>
    {% for tasks in task %}
    <div class="alert alert-warning">
    <h3> {{ tasks.title }} <h3>
        <p>Дата выполнения: {{ tasks.date_of_completion }}</p>
        {% for status_id, status_description in status %}
            {% if status_id == tasks.status %}
                <p>Статус: {{ status_description }}</p>
            {% endif %}
        {% endfor %}
    <a class="btn btn-warning" href="task/?pk={{ tasks.pk }}">Подробнее</a>
    </div>
    {% endfor %}
{% endblock %}
