<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> {{ task.title }} </p>
    <p> {{ task.description }} </p>
    <p> Дата завершения: {{ task.date_of_completion }} </p>    
    {% for status_id, status_description in status %}
    {% if status_id == task.status %}
    <p>Статус: {{ status_description }}</p>
    {% endif %}
    {% endfor %}
    <a href="/">На главную</a>
</body>
</html>