{% extends 'base.html' %}

{% block title %}Просмотр задач{% endblock %}

{% block content %}
    <div class="button">
    <a class="btn btn-primary" href="{% url 'main' %}">На главную</a>
    </div>
    <div class="alert alert-warning">
    <p> {{ task.title }} </p>
    <p> {{ task.description }} </p>
    <p> Дата завершения: {{ task.date_of_completion }} </p>    
    {% for status_id, status_description in status %}
    {% if status_id == task.status %}
    <p>Статус: {{ status_description }}</p>
    {% endif %}
    {% endfor %}
    <div class="button">
    <a type="button" class="btn btn-success" href="editing/?pk={{ task.pk }}">Редактировать</a>
    <form method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Удалить" name="delete"/>
    </form>
    </div>
    </div>
{% endblock %}